.App {
	text-align: center;
	min-height: 100vh;
	margin-top: 65px;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.map-container:first-child {
	display: block;
	position: absolute;
	width: 100%;
	height: 25%;
	margin-left: 25%;
	margin-right: 25%;
}

.map-container > div > div {
	height: 100%;
}

.ui.action.input {
	margin-bottom: 2%;
}

.ui.centered.cards {
	margin-top: 27%;
	padding-left: 80px;
	padding-right: 80px;
	margin-bottom: 20%;
	padding-bottom: 100px;
}

.ui.celled.collapsing.padded.striped.table {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	border-spacing: 0;
}

.section {
	border-bottom: 125px solid transparent;
}

#fav-indicated {
	margin-top: 30%;
}

.ui.centered.cards.favorites {
	margin-top: 0px;
}

.ui.action.input:not([class*="left action"]) > .button:last-child,
.ui.action.input:not([class*="left action"]) > .buttons:last-child > .button,
.ui.action.input:not([class*="left action"]) > .dropdown:last-child {
	background-color: #df8d03;
}

.ui.card > :last-child,
.ui.cards > .card > :last-child {
	background-color: #f6c101;
}

.ui.card > :last-child,
.ui.cards > .card > :last-child {
	background-color: #f6c101;
}

.ui.card > :last-child,
.ui.cards > .card > :last-child:hover {
	background-color: #df8d03;
}

#added-btn {
	background-color: #c96e12;
	color: white;
}

/* style for bubble animations  */
body {
	background: #111d5e;
	color: #333;
	font: 100% Lato, Arial, Sans Serif;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

#background-wrap {
	bottom: 0;
	/* background-color: #ec9d00; */
	background-image: linear-gradient(180deg, #ec9d00, #c96e12);
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
}

/* OBJECTS */

.bubble {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;

	-webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);

	height: 200px;
	position: absolute;
	width: 200px;
}

.bubble:after {
	background: -moz-radial-gradient(
		center,
		ellipse cover,
		rgba(255, 255, 255, 0.5) 0%,
		rgba(255, 255, 255, 0) 70%
	); /* FF3.6+ */
	background: -webkit-gradient(
		radial,
		center center,
		0px,
		center center,
		100%,
		color-stop(0%, rgba(255, 255, 255, 0.5)),
		color-stop(70%, rgba(255, 255, 255, 0))
	); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(
		center,
		ellipse cover,
		rgba(255, 255, 255, 0.5) 0%,
		rgba(255, 255, 255, 0) 70%
	); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(
		center,
		ellipse cover,
		rgba(255, 255, 255, 0.5) 0%,
		rgba(255, 255, 255, 0) 70%
	); /* Opera 12+ */
	background: -ms-radial-gradient(
		center,
		ellipse cover,
		rgba(255, 255, 255, 0.5) 0%,
		rgba(255, 255, 255, 0) 70%
	); /* IE10+ */
	background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(
			startColorstr='#80ffffff',
			endColorstr='#00ffffff',
			GradientType=1
		); /* IE6-9 fallback on horizontal gradient */

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;

	-webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);

	content: "";
	height: 180px;
	left: 10px;
	position: absolute;
	width: 180px;
}
/* ANIMATIONS */

.x1 {
	-webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	left: -5%;
	top: 5%;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}
.x2 {
	-webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;

	left: 5%;
	top: 80%;

	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x3 {
	-webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;

	left: 10%;
	top: 40%;

	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	transform: scale(0.7);
}

.x4 {
	-webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;

	left: 20%;
	top: 0;

	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x5 {
	-webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;

	left: 30%;
	top: 50%;

	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x6 {
	-webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;

	left: 50%;
	top: 0;

	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
}

.x7 {
	-webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;

	left: 65%;
	top: 70%;

	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x8 {
	-webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;

	left: 80%;
	top: 10%;

	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x9 {
	-webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;

	left: 90%;
	top: 50%;

	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}

.x10 {
	-webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;

	left: 80%;
	top: 80%;

	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
	0% {
		margin-top: 1000px;
	}
	100% {
		margin-top: -100%;
	}
}

@-moz-keyframes animateBubble {
	0% {
		margin-top: 1000px;
	}
	100% {
		margin-top: -100%;
	}
}

@keyframes animateBubble {
	0% {
		margin-top: 1000px;
	}
	100% {
		margin-top: -100%;
	}
}

@-webkit-keyframes sideWays {
	0% {
		margin-left: 0px;
	}
	100% {
		margin-left: 50px;
	}
}

@-moz-keyframes sideWays {
	0% {
		margin-left: 0px;
	}
	100% {
		margin-left: 50px;
	}
}

@keyframes sideWays {
	0% {
		margin-left: 0px;
	}
	100% {
		margin-left: 50px;
	}
}

/* CSS Animations */
:root {
	--animate-duration: 2000ms;
}

#intro-text {
	font-size: 6rem;
	margin-top: 30%;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
}

.favorites-header {
	font-family: 'Josefin Sans', sans-serif;
}

#visited {
	color: red;
}

.comments {
	margin-right: 150px;
	margin-bottom: 10px;
}

.footer {
	margin-top: 1rem;
	padding: 1rem;
	background-color: black;
	color: white;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

.brewery-type {
	margin-top: 0px;
	margin-bottom: 2px;
}

#phone {
	margin-bottom: -6px;
	margin-top: -6px;
}

#brewery {
	margin-bottom: -10px;
}

#street {
	font-size: 12px;
}

.sorting-btns {
	display: inline-flex;
}

#sort-btn {
	margin-left: 20px;
}

.footer a {
	color: inherit;
	text-decoration: none;
}

.footer {
}

.footer a:hover {
	color: #7a7a7a;
	text-decoration: none;
	cursor: pointer;
}

#search {
	margin-top: 25px;
	margin-bottom: 25px;
	border-top: none;
	border-right: none;
	border-left: none;
}
